<!DOCTYPE html>
{%extends 'base.html' %} {% load crispy_forms_tags %}

<html>
    {% load static %}

    <head>
        <title>Manage Lecture Sections</title>
    </head>
    <body>
        {% block body_block %}

        <br />
        <div class="textbox">
            <h1 style="color: black;" class="text-center">Add Lecture Section</h1>
        </div>
        <div class="middlebox">
            {% block content %}

            <form style="text-align: center;" method="POST">
                {%csrf_token%} {{ form|crispy }}

                <button class="submitButton" type="submit" id="submit">Submit</button>
            {% if messages %}
         {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
         {% endfor %}
         {% endif %}
            </form>
            {% endblock %}
        </div>
        {% endblock %}
    </body>
</html>
