{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body_block %}
    {% block form_block %}
        <div class="form_container mt-3">

            <h1 class="text-center">{% block form_header_block %}
                {% endblock %}</h1>

                <form style="text-align: center;" method="POST">
                    {%csrf_token%}
                    
                    {{ form|crispy }}
                    

                    <button class="submitButton" type="submit" id="submit">Submit</button>

                </form>
        </div>

    {% endblock %}
{% endblock %}