<!DOCTYPE html>
{% load static %}

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- FRAMEWORKS (e.g bootsrap, bulma) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>

  <!-- CSS Script -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/stylesheet.css' %}">
   <title>
        UofG Dentistry Admin
    </title>
</head>

<body style="background-image:url('/static/UofGMainBuilding.jpg');
background-repeat: no-repeat; 
width:100%; 
height:70%; 
background-size: cover;">

  <div class="textbox">
    <h1 style="text-align:center; color: black; padding-bottom: 30px">UofG Dentistry Admin</h1>
  </div>

<div id="modal-hidden"> </div>
<div class="middlebox">
  <h1 style="text-align: center; padding-bottom:20px">Login</h1>
<form style="text-align: center" action="{% url 'login' %}" method="post">
  {% csrf_token %}
    <input name="email" style="font-size: xx-large;">
    <br>
    <br>
    <input type="password" name="password" style="font-size: xx-large;">
    <br>
    <br>
    <input type="submit" value="Submit" style="text-align: center; margin:auto; display: block; font-size: x-large;">
</form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</body>
