<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>Make an Announcement</title>
        {% block title_block %} Make an Announcement {% endblock %}
    </head>

    <body>
        {% block body_block %}
            <div class="announcement mt-3">

                <h1 class="text-center">Make An Announcement</h1>

                    {% block content %}
                    <form style="text-align: center;" method="POST">
                        {%csrf_token%}
                        
                        {{ form|crispy }}
                        

                        <button class="submitButton" type="submit" id="submit">Submit</button>

                        {% if messages %}
                        {% for message in messages %}
                         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                
                        {% endfor %}
                
                    {% endif %}
                        

                    </form>
                    {% endblock %}
            </div>

        {% endblock %}
    </body>

</html>