<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html>
   <head>
      <title>Manage Modules</title>
      {% block title_block %} Manage Modules {% endblock %}
   </head>
   <body>
      {% block body_block %}
          {% if modules %}
              <div class="text-center">
                  <table class="table table-hover" id="moduleTable">
                     <thead>
                        <tr>
                           <th scope="col">Year</th>
                           <th scope="col">Module Name</th>
                           <th scope="col">Remove</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for module in modules %}
                            <tr>
                                <td class="tableRow" data-url='../view-module/?id={{ module.id }}'>BDS{{ module.year }}</td>
                                <td class="tableRow" data-url='../view-module/?id={{ module.id }}'>{{ module.title }}</td>
                                <td><img src="{% static 'delete.png' %}" onclick='showDeletePopUp({{ forloop.counter }}, {{ module.id }})'></td>
                            </tr>
                        {% endfor %}
                     </tbody>
                  </table>
              </div>
          {% endif %}

      <div id="moduleForm" class="modal">
         <form class="modal-content">
            <div class="container text-center" style="padding-bottom: 15px; padding-top: 10px;">
               <h1>Delete Module</h1>
               <p>Are you sure you want to delete this module?</p>
               <input type="hidden" id="deleteModuleID" name="moduleID">
                <input type="hidden" id="deleteRowID" name="rowID">
               <div class="clearfix">
                  <button type="button" class="submitButton" onclick="cancel()">Cancel</button>
                  <button type="button" class="submitButton" onclick="deleteModule()">Delete</button>
               </div>
            </div>
         </form>
      </div>
      <div class="add-module text-center">
         <a style="color:white;" href="{% url 'add-module' %}">Add Module</a>
      </div>
      {% endblock %}
   </body>
</html>