<!DOCTYPE html>
<html>
    {%extends 'base.html' %}
    {% load static %}
    <head>
        <title>Manage Socials</title>
        {% block title_block %} Manage Socials {% endblock %}
    </head>

    <body>
        {% block body_block %}

       <div class="textbox text-center">

            <h1 style="color: black;">Manage Socials</h1>

       </div>

        <div class="middlebox"> 

            <br>

            <a id="socials-links" href="{% url 'make-an-announcement' %}">Make An Announcement</a>

            <br>

            <a id="socials-links" href="{% url 'view-posts' %}">View Posts</a>

            <br>

            <a id="socials-links" href="{% url 'socials_announcements:socials' %}">Manage Access</a>

            <br>
            
            <a id="socials-links" href="{% url 'socials_announcements:links' %}">Manage Useful Links</a>

            <br>

        </div>
        {% endblock %}
    </body>
</html>