<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html>
    <head>
        <title>Manage Socials Access</title>
        {% block title_block %} Manage Socials Access {% endblock %}
    </head>

    <body>
        {% block body_block %}
       <br>
        <div class="textbox text-center"> 
        
            <h1 style="color: black;">Manage Socials Access</h1>
        

            <div class="text-center" style="color: black;">
                {% block content %}
                <form style="text-align: center;" method="POST">
                    {%csrf_token%}
                    
                    {{ form|crispy }}
                    

                    <button class="submitButton" type="submit" id="submit">Submit</button>
                    <a href="{% url 'socials_announcements:revoke' %}">Revoke Access</a>

                    {% if messages %}
                    {% for message in messages %}
                     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
            
                    {% endfor %}
            
                {% endif %}


                </form>
                {% endblock %}
            </div>

        </div>
        {% endblock %}
    </body>
</html>
