<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Manage User Access</title>
        {% block title_block %} Manage User Access {% endblock %}
    </head>

    <body>
        {% block body_block %}
        <div class="row justify-content-start">
          <h1>Manage User Access</h1>
          <h5 class="col" style="padding-top: 15px;">(Welcome, {{user}}!)</h5>
        </div>
                    {% block content %}
                        <table class="table">
                            <thead style="background: #003865;color: white;">
                              <tr>
                                <th scope="row"></th>
                                <th scope="col">ID</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Subject</th>
                                <th scope="row"></th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                              <tr class="userEntry">
                                <th scope="row"></th>
                                <td> {{ user.id }} </td>
                                <td> {{ user.email }} </td>
                                <td>
                                  {% if user.user.is_superuser %}
                                    Admin
                                  {% elif user.user.is_staff %}
                                    Secretary
                                  {% elif 'student.gla.ac.uk' in user.user.email %}
                                    Student
                                  {% else %}
                                    Lecturer
                                  {% endif %}
                                </td>
                                <td>
                                    {% if user.can_edit.all or user.is_taken.all %}
                                    {% for subject in user.can_edit.all %}
                                    <span class="badge badge-secondary" style="
                                    font: caption;background: #005C8A;margin: 2px;
                                ">{{ subject.title }}</span>
                                    {% endfor %}
                                    {% for subject in user.is_taken.all %}
                                    <span class="badge badge-light" style="
                                    font: caption;background: #F7F7F7;margin: 2px;
                                ">{{ subject.title }}</span>
                                    {% endfor %}
                                    {% else %}
                                        ---
                                        {% endif %}
                                        
                                  </td>
                                  

                                  <td> <img src="{% static 'delete.png' %}" class="revokedBtn"><button class="revokedInfo" style="display: none;" value="{{ user.id }}"></button></img>
                                  </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          <h5>{{users.count}} users in total</h5>
                          {% endblock %}
                        <!-- temporary modal -->
                            <div id="revokeModal" class="modal">
                              <form class="modal-content">
                                 <div class="container text-center" style="padding-bottom: 15px; padding-top: 10px;">
                                    <h1>Revoke User</h1>
                                    <p class="modal-body"></p>
                                    <div class="clearfix">
                                       <button type="button" class="submitButton" id="revokedCancelBtn" >Cancel</button>
                                       <button type="button" class="submitButton" id="revokedConfirmBtn" >Delete</button>
                                    </div>
                                 </div>
                              </form>
                           </div>

            <script>
            $("#body_block").removeClass("col-sm-6").addClass("col");
        </script>
        {% endblock %}
        
    </body>
</html>