<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Manage User Access</title>
    </head>

    <body>
        {% block body_block %}
        <div class="row justify-content-start">
            <h1>Manage User Access</h1>
            <h5 class="col" style="padding-top: 15px;">(Welcome, {{user}}!)</h5>
        </div>
                    {% block content %}
                    {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    {% endif %}

                    <form id="form" method="post" action="{% url 'manager:register' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if user_form.errors %}
                        {{user_form.errors}}
                        {%endif%}
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label-lg">Email</label>
                            <div class="col-sm-10">
                              {{user_form.email}}
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label-lg">File</label>
                            <div class="col-sm-10">
                                <div class="custom-file register">
                                    {{user_form.file}}
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                          </div>
                          
                          <fieldset class="form-group">
                            <div class="row">
                              <legend class="col-form-label-lg col-sm-2 pt-0">Roles</legend>
                              <div >
                                <div class="form-check">
                                    {{ user_form.is_lecturer }} 
                                    <label class="col-form-label-lg" for="id_is_lecturer">is_lecturer</label>
                                </div>
                                <div class="form-check">
                                    {{ user_form.is_secretary }} 
                                    <label class="col-form-label-lg" for="id_is_secretary">is_secretary</label>
                                </div>
                                <div class="form-check">
                                    {{ user_form.is_admin }}
                                    <label class="col-form-label-lg" for="id_is_admin">is_admin</label>
                                </div>
                              </div>
                            </div>
                          </fieldset>

                        <div class="form-group row">
                            <div class="col">
                                {{ user_form.subjects }}
                            </div>
                        </div>
                        <p style="
                        font-size: larger;">
                            {{user_form.subjects.help_text}} <a href="{% url 'add-module'%}">here</a>
                        </p>
                        <div class="form-group row justify-content-end">
                            <div class="col-1">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <div class="col-1"><button type="button" class="btn btn-danger" id="resetRegisterForm" onclick="customReset();">Reset Form</button></div>
                        </div>

                        
                        </form>


                    {% endblock %}
        <script>
            $("#id_file").addClass("custom-file-input");
            $('#id_file').on('change',function(){
                var pathlength = $(this).val().split('\\').length;
                var filename = $(this).val().split('\\')[pathlength-1];
                $(this).next('.custom-file-label').html(filename);
            });
            $("#body_block").removeClass("col-sm-6").addClass("col");


            function customReset()
            {
                document.getElementById("id_email").value = "";
                $(".custom-file-label").html("");
                document.getElementById("id_is_admin").checked = false;
                document.getElementById("id_is_secretary").checked = false;
                document.getElementById("id_is_lecturer").checked = false;
                $('select option:selected').removeAttr("selected");
            };

        </script>
        {% endblock %}
    </body>
</html>