<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html>
   <head>
      <title>View Module</title>
      {% block title_block %} View Module {% endblock %}
   </head>
   <body>
      {% block body_block %}
          {% for module in modules %}
              {% if module.id|slugify == request.GET.id %}
                    <div class="textbox mx-auto text-center">
                        <h1 style="color: black;">Module {{ module.title }}</h1>
                    </div>
                  <p id="moduleID" hidden>{{ request.GET.id }}</p>
              {% endif %}
          {% endfor %}
      <div class="bs-example">
         <div class="accordion" id="accordionExample">
            {% if sections %}
            {% for section in sections %}
            {% if section.subject.id|slugify == request.GET.id|slugify %}
            <div class="card mt-2 mb-2">
               <div class="card-header" id="{{ forloop.counter }}">
                  <h2 class="mb-0">
                     <button style="font-size: 20px; color:darkblue;" type="button" class="btn btn-link" data-toggle="collapse" data-target="#{{section.title|cut:" "}}"><i class="fa fa-plus"></i> {{ section.title }}</button>
                     <img src="{% static 'delete.png' %}" style="float:right; margin-top: 12px" onclick="deleteLectureSection({{ section.id }})">
                  </h2>

               </div>

               <div id="{{section.title|cut:" "}}" class="collapse" aria-labelledby="{{ forloop.counter }}" data-parent="#accordionExample">
                   {% for subsection in subsections %}
                       {% if subsection.lecture_section.id == section.id %}
                           <div class="card-body card-border" id="child1">
                                    {% if subsection.lecture_section.id|slugify == section.id|slugify %}
                                        <div>
                                            <a style="font-size: 20px; cursor: pointer;" onclick="editSubsection({{ subsection.id }})" >{{subsection.title}}</a>
                                        </div>
                                        {% for c in content %}
                                            {% if subsection.id|slugify == c.subsection.id|slugify %}
                                                <div>
                                                    <a style="margin-left: 50px; font-size: 20px; color:black; cursor: pointer;" onclick="editContent({{ c.id }})"> {{ c.file }}</a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="add-content text-center">
                                            <a style="color:white; cursor: pointer;" onclick="addLectureContent({{ subsection.id }})">Add Content</a>
                                        </div>
                                    {% endif %}
                           </div>
                       {% endif %}
                   {% endfor %}
                        <div class="add-subsection mx-auto text-center">
                            <a style="color:white; cursor: pointer;" onclick="addLectureSubsection({{ section.id }})">Add Subsection</a>
                       </div>
            </div>
         </div>
         {% endif %}
         {% endfor %}
         {% endif %}
      </div>
      </div>

          <div id="moduleForm" class="modal">
         <form class="modal-content">
            <div class="container text-center" style="padding-bottom: 15px; padding-top: 10px;">
               <h1>Delete Lecture Section</h1>
               <p>Are you sure you want to delete this lecture section? <br> All of its subsections and content will also be removed.</br></p>
               <input type="hidden" id="deleteSectionID" name="sectionID">
               <div class="clearfix">
                  <button type="button" class="submitButton" onclick="cancel()">Cancel</button>
                  <button type="button" class="submitButton" onclick="deleteSection()">Delete</button>
               </div>
            </div>
         </form>
      </div>

          <div class="add-module text-center">
                <a style="color:white;" onclick="addLectureSection()">Add Lecture Section</a>
            </div>
      {% endblock %}
   </body>
</html>