<!DOCTYPE html>
<html>
    {%extends 'base.html' %}
    {% load static %}
    <head>
        <title>View Posts</title>
        {% block title_block %} View Posts {% endblock %}
    </head>

    <body>
        {% block body_block %}
       <br>
        <div class="textbox"> 
        
            <h1 style="text-align:center; color: black;">Viewing Posts</h1>

            <div class="posts-1">

                <p style="color: black;">POSTS HERE</p>

            </div>

            <div class="posts-2">

                <p style="color: black;">POSTS HERE</p>

            </div>

            <div class="posts-3">

                <p style="color: black;">POSTS HERE</p>

            </div>

        </div>
        {% endblock %}
    </body>
</html>
