 /* base.html css code */

.navbar{
    background-color: #003865;
}

.navbar-text{
    color: white !important; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: xx-large;
}

@media screen and (min-width: 320px) {
    .navbar-text {
      font-size: large;
    }
  }
@media screen and (min-width: 1000px) {
    .navbar-text {
    font-size: xx-large;
    }
}

.sidenav {
    background-color: #003865;
    padding-top: 20px;
    overflow-x: hidden;
    z-index: 1;
    min-height: calc(100vh - 0px);
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: black;
    display:block;
}

.sidenav a:hover{
    color: #003865;
}

#image{
    padding:0;
    margin: 15px;
}

#text{
    padding: 0;
    margin: 10px;
    font-size:0;
}

#sidenav-links{
    background-color: #F8F8FF;
    text-align: center;
    margin: 53px 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.middlebox {
    background-color: #003865;
    padding: 10px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}

.announcement {
    background-color: #003865;
    padding: 10px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}

.add-module {
    background-color: #003865;
    padding: 10px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
}

.add-content {
    background-color: cornflowerblue;
    font-size: large;
    border-radius: 20px;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
}

.add-subsection {
    background-color: #007bff;
    font-size: large;
    border-radius: 20px;
    margin-top: 15px;
    width: 65%;
    padding: 20px;
}

.submitButton {
    background-color: #F8F8FF;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 0px 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 20%;
  top: 20%;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}

.form-group{
    text-align: left!important;
}


.tableRow:hover {
    cursor:pointer;
}


.bs-example {
    margin: 20px;
}

.accordion .fa {
        margin-right: 0.5rem;
}

.card-border{
    border: solid;
    margin: 5px;
}

.profiles {
    background-color: white ; 
    padding: 10px; 
    position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -200px;
    margin-left: -120px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
    overflow: hidden;
}


.posts-1 {
    background-color: white ; padding: 10px; position: fixed;
    top: 50%;
    left: 40%;
    margin-top: -200px;
    margin-left: -120px;
}

.posts-2 {
    background-color: white ; padding: 10px; position: fixed;
    top: 50%;
    left: 60%;
    margin-top: -200px;
    margin-left: -120px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}

.posts-3 {
    background-color: white ; padding: 10px; position: fixed;
    top: 50%;
    left: 80%;
    margin-top: -200px;
    margin-left: -120px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}


/* I have just replicated the style for .announcements */
.form_container{
    background-color: #003865 ;
    padding: 10px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}
.textbox {
    background-color: white ;
    padding: 10px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}

/* manage_socials_landing.html css code*/

.middlebox {
    background-color: #003865 ;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color:white;
    font-size: xx-large;
    border-radius: 20px;
}


/* MESSAGES */
    .success {
        background-color: #c9f4b9;
        color: #52b52b;
    }
    .error {
        background-color: #F2C2CC;
        color: #E63235;

    }

    #messages-container {
        width: 100%;
        height: 25px;
        top: 0px;
        position: absolute;
        border-style: none;
        z-index: 100;
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        display: block;
        width:100%;
        padding: 8px;
    }
/* END MESSAGES */

#socials-links {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 0px 20px;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
}

#socials-links:hover{
    color: #003865;
}

